.env
.env.*
!.env.example
.python-version

.ipynb_checkpoints/

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/

.DS_Store
